#about-page {
    position: relative;
    margin-top:8vw;
    width: 100%;
    font-size:2.0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-desc{
    width:35vw;
}

.halfsplit{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10vw;
}

.hobbies-container{
    position:relative;
}

.hobbies-buttons{
    display:flex;
    flex-direction: row;
    padding:5vw;
    justify-content: center;
}

.hobby-button{
    background-color: transparent;
    color:var(--dark-color);
    box-shadow: none;
}

.hobby-button:hover {
    background-color: transparent;
    cursor: pointer;
    text-decoration-line: underline;
}

.hobby-desc{
    display:flex;
    justify-content: center;
}

.hobby-image{
    width: 35vw;
    height:auto;
}

.selfie{
    width:35vw;
    height:50vw;
    object-fit:cover;
    margin-bottom:5vw;
    border-radius: 10px;
}

@media (max-width: 480px)
{
    .halfsplit{
        flex-direction: column;
    }
    .about-me-desc{
        width:70vw;
    }
    .selfie{
        width:70vw;
        height:100%;
    }

}
