#about-page {
    position: relative;
    margin-top:8vw;
    width: 100%;
    font-size:2.0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-desc{
    width:35vw;
}

.halfsplit{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10vw;
}

.selfie{
    width:35vw;
    height:50vw;
    object-fit:cover;
    margin-bottom:5vw;
    border-radius: 10px;
}

@media (max-width: 480px)
{
    .halfsplit{
        flex-direction: column;
    }
    .about-me-desc{
        width:70vw;
    }
    .selfie{
        width:70vw;
        height:100%;
    }

}
