.container {
    background: white;
    height: auto;
    width:20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Stretch flex items to fill the container's height */
    white-space: nowrap;
    z-index: 0;
  }
  
  .chat-box {
    height: 10vh;
    width: 40vw;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    color: white;
    -webkit-mask: linear-gradient(#000 0 0);
  }
  
  .chat-box:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #B30D70 0%, #20A1A2 100%);
    z-index: -1;
  }

  .resize-handle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -5px;
    cursor: ew-resize; /* East-west (horizontal) resize cursor */
    z-index: 1;
  }
  