.context {
  display: flex;
  flex-direction: column;
}

#home-page {
  position: absolute;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

nav a:nth-child(1) {
  color: var(--background-color);
}

#intro-section {
  position: relative;
  display: flex;
  height: 45vw;
  align-items: center;
}

#intro-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
}

#intro-section h1 {
  margin-left: 5%;
  width: 60%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 4;
  line-height: 12vw;
}

.intro-image {
  margin-right: 5%;
  width: 30%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  z-index: 4;
  border-radius: 1000px;
}

#intro-background {
  height: 100%;
  position: absolute;
  display: flex;
}

.intro-back-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}

.bkmult {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 3;
  opacity: 0.75;
}

.bkhardlight {
  width: 100%;
  height: 100%;
  background-color: #a0122a;
  position: absolute;
  mix-blend-mode: hard-light;
  z-index: 2;
  opacity: 0.5;
}

#skill-section {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skill-section h5 {
  text-align: center;
  max-width: 50vw;
  margin-bottom: 3rem;
}

h2 {
  padding-top: 5vw;
}

.skill-section {
  display: flex;
  gap: 2vw;
  flex-direction: horizontal;
  margin-bottom: 5vw;
}
.skill-container {
  background-color: var(--secondary-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.skill-container h4 {
  margin-top: 1.2vw;
}

.skill-icon {
  width: 3.5rem;
}

.skill-button {
  margin-bottom: 1rem;
  padding: 0rem 5rem;
  font-size: 2rem;
}

.skill-button img {
  width: 0.8rem;
  height: auto;
}

#about-section {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 7vw;
  align-items: center;
}

.about-skill-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.about-skill-section {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  gap: 2vw;
}
.desc-container {
  width: 30vw;
  font-weight: lighter;
}

.about-skill-blobs {
  display: flex;
  flex-direction: column;
}

.about-skill-line {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  margin-left: 2vw;
}
.about-skill-line-box h5 {
  background-color: #fff3f5;
  margin-top: 0px;
  padding: 0.4vw 1.5vw;
  border-radius: 20px;
}

#slideshow {
  background-color: var(--secondary-color);
}

.project-slide img {
  width: 40%;
  object-fit: contain;
}

#featured-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-boxes {
  display: flex;
  gap: 5px;
  margin-inline: 10vw;
}

.project-button {
  background: none;
  width: 25vw;
  height: 16vw;
  text-align: left;
  border: none;
  padding: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.project-text {
  margin-top: 1rem;
  position: relative;
}

.project-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project-text h4 {
  margin-top: 0.3vw;
  font-size: 1rem;
  font-weight: 700;
  color: #160307;

  display: inline;
}

.project-text h5 {
  font-size: 0.8rem;
  color: var(--dark-color);
  display: inline;
}

.project-button:hover {
  transform: scale(1.1); /* Add a simple hover effect */
}

.project-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.view-all-button {
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.learn-more-button {
  padding: 0.8rem 2.3rem;
  margin-bottom: 3rem;
}

#experience-section {
  display: flex;
  position: relative;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

.experience-image {
  width: 50vw;
}

@media (max-width: 480px) {
  #intro-section {
    height: 70vh;
    flex-direction: column-reverse;
  }

  .intro-image {
    width: 25vh;
    margin-right: 0;
  }

  #intro-section h1 {
    width: 90%;
    max-height: 30vh;
    margin-left: 0;
    margin-top: 1rem;
    font-size: 5rem;
    text-align: center;
    line-height: 5rem;
  }
  #about-section {
    flex-direction: column;
  }

  .about-skill-title {
    justify-content: center;
  }

  #experience-section {
    flex-direction: column;
  }

  .experience-image {
    width: 90vw;
    margin-top: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .project-boxes {
    margin-top: 5vw;
    gap: 2rem;
    flex-direction: column;
  }

  .project-button {
    width: 70vw;
    height: 50vw;
  }

  .desc-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 87vw;
  }

  .about-skills {
    width: 70vw;
  }
  .about-skill-line {
    flex-direction: column;
  }

  .about-skill-line-box {
    text-align: center;
  }
  .about-skill-blobs {
    flex-direction: row;
    justify-content: center;
  }

  .skill-section {
    flex-direction: column;
  }

  .skill-section .horizline {
    display: none;
  }

  .skill-button {
    font-size: 2rem;
    padding: 0.3rem 6rem;
  }

  #featured-section h2 {
    width: 70%;
  }

  .view-all-button {
    padding: 0.8rem 5rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  #intro-section {
    height: 70vh;
    flex-direction: column-reverse;
  }
  #featured-section h2 {
    width: 70%;
  }

  .intro-image {
    width: 10rem;
    margin-right: 0;
  }

  #intro-section h1 {
    width: 90%;
    margin-left: 0;
    margin-top: 1rem;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
  }

  .desc-container {
    width: 45vw;
  }
  .about-skill-blobs {
    flex-direction: row;
    width: 50%;
  }

  .about-skills {
    width: 40%;
  }

  .about-skill-line {
    display: grid;
    grid-template-columns: repeat(1);
  }

  .skill-button {
    padding: 0.3rem 3rem;
  }

  .skill-button img {
    height: 0.8rem;
  }
}
