:root {
    --main-color: #3498db;
    --box-width: 150px;
    --right-chat-width:50vw;
    --chat-padding:1vw;
    --box-height: 100px;
    --box-padding:20px;
  }

  ::-webkit-scrollbar {
    width: 0px; /* width of the scrollbar */
    height:0px;
  }

  #chat-container{
    display:flex;
    position:absolute;
    width:100%;
    max-height:80vh;
    bottom:10vh;
    overflow-x:hidden;
    overflow-y:scroll;
  }

  #right-chat-container{
      position:relative;
      display: flex;
      flex-direction: column;
      width:var(--right-chat-width);
      bottom:0;
      padding-inline:var(--chat-padding);
  }


  .box {
    align-self:flex-end;
    padding:var(--box-padding);
    margin-top:10px;
    background-color: var(--main-color);
    overflow-wrap: break-word;
    width:min-content;
    max-width: 85%;
    border-radius: 20px 20px 0px 20px;
  }

  .rbox {
    align-self: flex-start;
    padding:var(--box-padding);
    margin-top:10px;
    background-color: var(--main-color);
    overflow-wrap: break-word;
    width:min-content;
    max-width: 85%;
    border-radius: 20px 20px 20px 0;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
  }

  .input-box {
    width: 30vw;
    height: 5vh;
  }