:root {
    --main-color: #3498db;
    --box-width: 150px;
    --flex-width:50vw;
    --box-height: 100px;
    --box-padding:20px;
  }

  #flex-container {
      position:absolute;
      height:auto;
      max-height:80vh;
      width:var(--flex-width);
      /*flex-direction: column; Reverse the order of items in the column */
      bottom:10vh;
      padding:var(--box-padding);
      overflow-x:hidden;
      overflow-y:scroll; /* Add scroll if the content exceeds the container height */
  }

  .box {
    padding:var(--box-padding);
    margin:10px;
    background-color: var(--main-color);
    overflow-wrap: break-word;
    max-width: 80%;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
  }

  .input-box {
    width: 30vw;
    height: 5vh;
  }