#page-content{
    display:flex;
}

.chats-container{
    height: 100vh;
    width: 20vw;
}

.grey-container{
    background: #293447;
    mix-blend-mode: multiply;
    height:100%;
    width:inherit;
    opacity: 0.7;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
}

.blur-box{
    height:100%;
    width:inherit;
    backdrop-filter: blur(5px);
}

.grey-container,
.blur-box{
    position:absolute;
}


.container{
    background: transparent;
    height: auto;
    width:30vw;
    max-width:50vw;
    position:relative; /* relative here */
    display:flex;
    flex-direction: column;
    z-index: 0;
  }
  
  .chat-box {
    height: 10vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom:10px;
    color: white;
    border-radius: 20px 20px 20px 0px;
    -webkit-mask:linear-gradient(#000 0 0);
  }
  
  .chat-box:before{
    content:"";
    position:absolute;
    inset:0;
    background: linear-gradient(180deg, #B30D70 0%, #20A1A2 100%);
    z-index:-1;
  }

  .resize-handle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -5px;
    cursor: ew-resize; /* East-west (horizontal) resize cursor */
    z-index: 1;
  }