#page h2 {
  text-align: center;
  width: 80vw;
}

h5 {
  max-width: 60%;
  text-align: center;
}

span {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

iframe {
  width: 100vw;
  height: 500px;
}

@media (max-width: 480px) /*mobile*/ {
  span {
    flex-direction: column;
    align-items: center;
  }
  h5 {
    max-width: 80%;
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 768px) /*tablet*/ {
  span {
    flex-direction: column;
    align-items: center;
  }

  h5 {
    max-width: 70%;
    text-align: center;
  }
}
