@font-face {
    font-family: JosefinSans;
    src: url(fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

body {
    font-family: JosefinSans;
    background-image: url('images/cherrybackgrnd.png'); /* Replace with the path to your image */
    background-size: cover; /* This will cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fixed background */
    height: 900px; /* Set the height of the background image */
    margin: 0;
}

header {
    background-color: #100003;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #2d070e;
    cursor: pointer;
    text-decoration: underline;
}

#logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    width: auto;
    margin-right: 20px;
}

#title-page {
    display: flex;
    align-items: left;
}

#circle-container {
    position: relative;
    top:50px;
    width: 33vw;
    height: 33vw;
    margin-left: 10vw;
    border-radius: 50%;
}

.circle-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#intro-title {
    position: relative;
    top:100px;
    left: 8vw;
    color: white;
}

#intro-title h1 {
    font-size: 5.0vw;
    font-weight: bold;
    margin-bottom: 2.0vw; /* Add spacing between h1 and h2 */
}

#intro-title h2 {
    font-size: 2.0vw;
    font-weight: normal;
    margin-top: 2.0vw; /* Add spacing between h1 and h2 */
}

#featured {
    background-color: #FFF3F5; /*#FFF3F5*/
    position: relative;
    top: 100px;
    width: 100vw;
    font-size:2.0vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the text horizontally */
    text-align: center;
    padding: 10px; /* Padding inside the container */
}


button {
    color: #ffffff;
    background-color: #FE375D;
    font-family: JosefinSans;
    border: none;
    padding: 0.7vw 3.0vw;
    margin: 0px 0.8vw;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 30px; 
}

button.view-all-button {
    margin-top: 8vw;
    padding: 15px 30px;
}

button:hover {
    transition: background-color 0.3s ease;
    background-color: #2d070e;
}

.buttons {
    display: flex;
    justify-content: left; 
    margin-top: 2.0vw;
}

.project-boxes {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: 10.0vw;
    margin-right: 10.0vw;
}

.project-button {
    background: none;
    width: 25vw;
    height: 16vw;
    text-align: left;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.project-text {
    position: relative;
    margin-bottom: 30px;
}

.project-text h2 {
    font-size: 1.0vw;
    font-weight: normal;
    color: black;
    display: inline;
}

.project-text h3 {
    font-size: 1.0vw;
    color: #FE375D;
    display: inline;
    margin-left: 3px;
}

.project-text h1 {
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
}

.project-button:hover {
    transform: scale(1.1); /* Add a simple hover effect */
}

.project-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 480px) /*mobile*/
{
    header {
        font-size:8px;
    }
    nav a{
        margin: 0 5px;
    }
    .logo{
        height: 15px;
        margin-right: 8px;
    }
    #circle-container {
        top: 18px;
    }

    #intro-title {
        position: absolute;
        left: 0;
        top: 50px;
    }

    #featured {
        position: relative;
        top: 500px;
        height: 200vw;
    }

    #title-page {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #circle-container {
        position: absolute;
        margin: 0;
        top:150px;
        width: 60vw;
        height: 60vw;
    }

    button.view-all-button {
        padding: 10px 30px;
    }

    .project-boxes {
        flex-direction: column;
        gap: 50px;
    }

    .project-button {
        width: 70vw;
        height: 40vw;
        text-align: center;
        margin-bottom: 40px;
    }

    .project-text {
        top: 10px;
    }

    .project-text h3, 
    .project-text h2 {
        font-size: 12px;
        margin-top: 30px;
    }

    .project-text h1 {
        font-size: 15px;
    }

    #intro-title h1 {
        font-size: 30px;
        font-weight: bold; /* Add spacing between h1 and h2 */
    }
    
    #intro-title h2 {
        font-size: 20px;
        font-weight: normal;
        padding: 30px;
        margin-top: 300px; /* Add spacing between h1 and h2 */
    }

}

@media (min-width: 480px) and (max-width: 768px)  /*tablet*/
{
    header {
        font-size:10px;
    }
    nav a{
        margin: 0 10px;
    }
    .logo{
        height: 20px;
        margin-right: 10px;
    }
    #circle-container {
        top: 25px;
    }
    #intro-title {
        top: 60px;
    }
    #featured {
        top: 50px;
    }
    button.view-all-button {
        padding: 14px 30px;
    }
}
