:root {
    --background-color: #fffbfb;
    --secondary-color: #FFF3F5;
    --accent-color: #FE375D;
    --dark-color: #160307;
  }

h1 { /*introtitle*/
    font-family: "josefin-sans", serif;
    color: rgb(255, 255, 255);
    font-size: 12vw;
    font-weight:500;
    font-style: normal;
}
h2 { /*titles*/
    font-family: "josefin-slab", serif;
    color: var(--dark-color);
    font-size: 3.0rem;
    font-weight:700;
    margin-block: 1vw;
    font-style: normal;
}
h3 { /*sub titles*/
    font-family: "josefin-slab", serif;
    color: var(--dark-color);
    font-size: 2.0rem;
    font-weight:700;
    font-style: normal;
}
h4 { /*mini titles*/
    font-family: "josefin-slab", serif;
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight:700;
    font-style: normal;
}
h5 { /*regular*/
    font-family: "josefin-sans", serif;
    color: var(--dark-color);
    font-size: 1.0rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-style:normal;
}
h6 { /*mini regular*/
    font-family: "josefin-sans", serif;
    color: var(--dark-color);
    font-size: 0.8vw;
    font-weight: 300;
    font-style:normal;
}

body {
    font-family: "josefin-sans", serif;
    width:100vw;
    margin: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffbfb;
    background-size: cover;
    z-index: -1; /* Place the background behind other content */
}

.content {
    position: relative; /* Create a stacking context */
    z-index: 1; /* Place the content on top of the background */
    overflow-y: auto; /* Enable vertical scrolling for content */
    height: 100vh; /* Set the height of the content to the viewport height */
}

header {
    background-color: var(--dark-color);
    position:fixed;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    font-style:normal;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
}

button {
    color: #ffffff;
    background-color: var(--accent-color);
    font-family: 'josefin-sans',serif;
    font-weight:500;
    border: none;
    padding: 1.2rem 5.0rem;
    font-size:1.5rem;
    margin-bottom:5vw;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    transition: background-color 0.5s ease;
    background-color: #2d070e;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px; /* idk, space b/w elements */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #2d070e;
    cursor: pointer;
    text-decoration: underline;
}

#logo-container {
    display: flex;
    align-items: center;
}

#video-container {
    width: 900px;
    height: 605px;
}


.logo {
    height: 30px;
    width: auto;
    margin-inline: 20px;
}

#stars{
    opacity:0.3;
}
.star1{
    position: fixed;
    left:-3vw;
    top: -3vw;
    width:35vw;
}
.star2{
    position: fixed;
    top:35vw;
    right:35vw;
    transform: rotate(40deg);
    width:40vw;
}

.star3{
    position: fixed;
    top:0vw;
    right:-5vw;
    transform: rotate(-20deg);
    width:40vw;
}

.star4{
    position: fixed;
    top:55vw;
    left:5vw;
    width:40vw;
}

.bkmult{
    position: absolute;
    mix-blend-mode: hard-light;
    z-index: 3;
    opacity:0.75;
}

.horizline{
    width:5vw;
}

.skill-line{
    margin-top:1vw;
    height:10vw;
}


#contact-section{
    background-color: var(--dark-color);
    color: #ffffff;
    display:flex;
    gap:2vw;
    position:relative;
    justify-content:center;
    align-items:center;
}

.contact-me{
    display:flex;
    flex-direction: column;
    margin-top:5vw;
}
.contact-me h2{
    color:#ffffff;
}
.contact-me h5{
    opacity:0.86;
    color: #ffffff;
    max-width:35vw;
    margin-top:1vw;
}
.contact-me-startitle{
    display:flex;
    align-items:center;
    gap:2vw;
}
.contact-social-icons{
    display:flex;
    margin:0;
}
.about-skill-title-icon{
    width:1.5rem;
    height:1.5rem;
}

.social-button{
    margin-inline:0.2vw;
    padding:0.5vw 0.5vw;
    border-radius: 10px;
    align-items:center;
}
.social-icon{
    width:4vw;
    height:auto;
}

.contact-email-phone{
    display:flex;
    align-items:center;
    justify-content: center;
}
.mail-number{
    opacity:0.86;
    text-align: center;
    justify-content: center;
    padding-inline:3vw;
}

.mail-number h4{
    color: #ffffff;
    margin-top:1vw;
}

@media (max-width: 480px) /*mobile*/
{
    header {
        font-size:12px;
    }
    nav a{
        margin: 0 6px;
    }
    .logo{
        height: 20px;
        margin-inline: 8px;
    }

    .buttons {
        justify-content: center; 
    }

    button {
        padding: 0.8rem 3rem;
        margin: 0rem 0.8rem;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 30px; 
    }

    .skill-line{
        transform: rotate(90deg);
    }

    #contact-section{
        flex-direction: column;
    }

    .contact-me h5{
        align-self: center;
        text-align: center;
    }

    .contact-social-icons{
        justify-content: center;
        align-self: center;
        gap:5vw;
    }

    .social-icon{
        width:15vw;
        height:auto;
    }

    #contact-section .skill-line{
        display:none;
    }
}

@media (min-width: 480px) and (max-width: 768px)  /*tablet*/
{
    header {
        font-size:16px;
    }
    nav a{
        margin: 0 10px;
    }
    .logo{
        height: 20px;
        margin-inline: 10px;
    }
    h2{
        font-size:2.5rem;
    }
    h4{
        font-size:1.2rem;
    }
    h5{
        line-height: 1.2rem;
    }

    .contact-email-phone{
        flex-direction: column;
    }

    .button {
        padding:0.8rem 3.0rem;
    }
}