:root {
  --background-color: #fffbfb;
  --secondary-color: #fff3f5;
  --accent-color: #fe375d;
  --dark-color: #160307;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  z-index: 3;
}

h1 {
  /*introtitle*/
  font-family: "josefin-sans", serif;
  color: rgb(255, 255, 255);
  font-size: 12vw;
  font-weight: 500;
}
h2 {
  /*titles*/
  font-family: "josefin-slab", serif;
  color: var(--dark-color);
  font-size: 3rem;
  font-weight: 700;
  margin-block: 1vw;
}
h3 {
  /*sub titles*/
  font-family: "josefin-slab", serif;
  color: var(--dark-color);
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  /*mini titles*/
  font-family: "josefin-slab", serif;
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: 700;
}
h5 {
  /*regular*/
  font-family: "josefin-sans", serif;
  color: var(--dark-color);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}
h6 {
  /*mini regular*/
  font-family: "josefin-sans", serif;
  color: var(--dark-color);
  font-size: 0.8vw;
  font-weight: 300;
}

body {
  font-family: "josefin-sans", serif;
  width: 100vw;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffbfb;
  background-size: cover;
  z-index: -1; /* Place the background behind other content */
}

#content {
  position: relative; /* Create a stacking context */
  display: block;
  z-index: 1; /* Place the content on top of the background */
  overflow-y: auto; /* Enable vertical scrolling for content */
  overflow-x: hidden;
  height: 100vh; /* Set the height of the content to the viewport height */
}

#page {
  position: relative;
  margin-top: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
}

#doc-embed {
  width: 60%;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
  margin: 2rem auto;
  align-items: center; /* Center the content vertically */
}

#youtube-embed {
  width: 100%;
  height: 100%;
}

.halfsplit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: "josefin-sans", serif;
  font-weight: 500;
  border: none;
  padding: 1.2rem 5rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  transition: background-color 0.5s ease;
  background-color: #2d070e;
}

#back-button {
  position: fixed;
  top: 68px;
  padding: 0.4rem 1.5rem;
  left: 5px;
  z-index: 1000;
}
#back-button img {
  width: 0.8rem;
  transform: scaleX(-1);
}

#cover-images {
  display: flex;
  height: 50vh;
  width: 100%;
}
.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  display: none;
}

nav a {
  color: #baadad;
  text-decoration: none;
  margin: 0 20px; /* idk, space b/w elements */
  border-radius: 5px;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon:checked + nav {
  right: 0;
}

#logo-container {
  display: flex;
  align-items: center;
}

#video-container {
  max-width: 80%;
  width: 920px;
  height: 500px;
}

#slides {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
}
.slide {
  width: 70%;
  max-height: 70vh;
  object-fit: contain;
}

.halfslide {
  width: 45%;
  object-fit: cover;
}

.logo {
  height: 30px;
  width: auto;
  margin-inline: 20px;
}

#stars {
  opacity: 0.3;
}
.star1 {
  position: fixed;
  left: -3vw;
  top: -3vw;
  width: 35vw;
}
.star2 {
  position: fixed;
  top: 35vw;
  right: 35vw;
  transform: rotate(40deg);
  width: 40vw;
}

.star3 {
  position: fixed;
  top: 0vw;
  right: -5vw;
  transform: rotate(-20deg);
  width: 40vw;
}

.star4 {
  position: fixed;
  top: 55vw;
  left: 5vw;
  width: 40vw;
}

.bkmult {
  position: absolute;
  mix-blend-mode: hard-light;
  z-index: 3;
  opacity: 0.75;
}

.horizline {
  width: 5vw;
}

.skill-line {
  margin-top: 1vw;
  height: 10vw;
}

#contact-section {
  background-color: var(--dark-color);
  color: #ffffff;
  display: flex;
  gap: 2vw;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.right-star,
.left-star {
  position: absolute;
  height: 8rem;
  width: 8rem;
  top: -3.5rem;
  z-index: 4;
}

.right-star {
  right: -2rem;
}

.left-star {
  transform: scaleX(-1);
  left: -2rem;
}

footer {
  display: flex;
  width: 100%;
  background-color: var(--dark-color);
  align-items: center;
  justify-content: center;
}

footer h5 {
  margin-left: 4vw;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
  color: var(--background-color);
  opacity: 0.6;
}
.contact-me {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}
.contact-me h2 {
  color: #ffffff;
}
.contact-me h5 {
  opacity: 0.86;
  color: #ffffff;
  max-width: 35vw;
  margin-top: 1vw;
}
.contact-me-startitle {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.contact-social-icons {
  display: flex;
  margin: 0;
}
.about-skill-title-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.social-button {
  display: flex;
  padding: 0.5vw;
  margin-inline: 0.2vw;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.social-icon {
  width: 4rem;
}

.contact-email-phone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail-number {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  opacity: 0.86;
  place-items: center;
  padding-inline: 5vw;
}

.mail-number h4 {
  color: #ffffff;
  margin-top: 1vw;
}

.contact-me-startitle h2 {
  padding-top: 0;
}

@media (max-width: 480px) /*mobile*/ {
  header {
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: start;
    background-color: var(--dark-color);
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    transition: right 0.3s ease-in-out;
  }
  nav a,
  nav img {
    margin-top: 20px;
    padding-block: 15px;
    padding-inline: 10px;
  }

  h2 {
    margin-block: 1rem;
  }

  .menu-icon {
    height: 40px; /* Adjust the height based on your image size */
    width: 40px;
    margin-right: 20px;
    display: block;
  }

  .logo {
    height: 30px;
    margin-inline: 20px;
  }

  .halfslide {
    width: 100%;
  }
  .slide {
    width: 100%;
  }
  .buttons {
    justify-content: center;
  }

  button {
    padding: 0.8rem 3rem;
    margin: 0rem 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 30px;
  }

  .skill-line {
    display: none;
  }

  #contact-section {
    flex-direction: column;
  }
  .contact-email-phone {
    flex-direction: column;
  }
  #doc-embed {
    width: 100%;
    margin-inline: 0;
  }

  .contact-me h5 {
    align-self: center;
    max-width: 70vw;
    text-align: center;
  }

  .horizline {
    width: 12vw;
  }

  .contact-social-icons {
    align-self: center;
  }

  .social-button {
    display: flex;
  }

  #contact-section .skill-line {
    display: none;
  }

  #video-container {
    height: 200px;
  }
}

@media (min-width: 480px) and (max-width: 768px) /*tablet*/ {
  header {
    font-size: 16px;
  }
  nav {
    flex-direction: column;
    align-items: start;
    background-color: var(--dark-color);
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    transition: right 0.3s ease-in-out;
  }
  nav a,
  nav img {
    margin-top: 20px;
    padding-block: 15px;
    padding-inline: 10px;
  }

  .menu-icon {
    display: block;
    background-size: cover;
    background-position: center; /* Center the image */
    height: 40px; /* Adjust the height based on your image size */
    width: 40px;
    background-color: transparent;
    margin-right: 20px;
  }
  .mail-number {
    padding-inline: 0;
  }
  .halfslide {
    width: 100%;
  }
  .slide {
    width: 100%;
  }
  .logo {
    height: 30px;
    margin-inline: 20px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    line-height: 1.2rem;
  }
  #contact-section {
    gap: 1rem;
  }
  #contact-section h2 {
    font-size: 1.8rem;
  }
  #doc-embed {
    width: 80%;
  }

  .horizline {
    width: 10vw;
  }

  .contact-email-phone {
    flex-direction: column;
  }

  .social-button {
    display: flex;
  }

  .button {
    padding: 0.8rem 3rem;
  }

  #contact-section .skill-line {
    display: none;
  }

  #video-container {
    height: 300px;
  }
}
